#vBoxRoleContainer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #585858;
}
#clientMenu {
    margin: 10px;
}
#headerClientBox {
    margin: 10px;
}
button:hover {
    background: #295939;
    color: white;
}
#containerLeftSideLogin {
    margin-top: 50px;
}
window {
    background:white;
}
#changePassLabel {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
#updateButton {
    background: #23689b;
    border: none;
    color: white;
    font-family:monospace;
}
#updateButton:hover {
    background: #ec4646;
    border: 1px solid black;
}
#gridChangeInfor {
    margin: 30px;
}
#changeInforButton {
    background: #16c79a;
    border: none;
    color: white;
    font-family:monospace;
    border: 1px solid black;
}
#changeInforButton:hover {
    background: #ec4646;
    border: 1px solid black;
    font-weight: 800;
}