#vBoxRoleContainer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #585858;
}
#clientMenu {
    margin: 10px;
}
#headerClientBox {
    margin: 10px;
}
button:hover {
    background: #54e346;
    color: white;
}
#containerLeftSideLogin {
    margin: 20px;
}
window {
    background:white;
}
#changePassLabel {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
#updateButton {
    background: #23689b;
    border: none;
    color: white;
    font-family:monospace;
}
#updateButton:hover {
    background: #ec4646;
    border: 1px solid black;
}
#gridChangeInfor {
    margin: 30px;
}
#changeInforButton {
    background: #16c79a;
    border: none;
    color: white;
    font-family:monospace;
    border: 1px solid black;
}
#changeInforButton:hover {
    background: #ec4646;
    border: 1px solid black;
    font-weight: 800;
}
#updateButton:hover {
    background: #ec4646;
    border: 1px solid black;
}
#backChangePasswordButton {
    background: transparent;
    border: 1px solid #585858;
    color: #585858;
}
#backChangePasswordButton:hover {
    background: #585858;
    border: 1px solid #585858;
    color: white;
}
#alertButton {
    background:#adeecf;
    color: #295939;
    border: none;
    margin: 5px;
}
#vboxAlert {
    background: white;
}
#alertButton:hover {
    border: 1px solid #295939;
    font-weight: 200;
}

#alert{
    font-family: 'Courier New', Courier, monospace;
}

#boxAllRegister {
    margin: 20px;
}
#registerLabel {
    font-size: 1.5rem;
    font-style: italic;
}
#registerButton {
    background: #23689b;
    color: white;
}
#registerButton:hover {
    background: tomato;
    color: white;
}
#backRegisterButton {
    background: transparent;
    border: 1px solid #585858;
    color: #585858;
}
#backRegisterButton:hover {
    background: #585858;
    border: 1px solid black;
    color: white;
}
#clearButton {
    background: tomato;
    border: 1px solid black;
    color: white;
}
#clearButton:hover {
    background: orange;

}
#logo {
    font-size: 2rem;
    font-style: italic;
    color: #23689b;
}
#vboxIntro {
    margin-top: 100px;
    margin-left: 50px;
}
#tiku {
    font-size: 4rem;
    color: #23689b;
    font-style: italic;
}

#header {
    margin: 10px;
}
#loginButton:hover {
    background: #23689b;
    color: white;
    
}
#loginButton {
    border: 1px solid #23689b;
    color: #23689b;
    background: white;
    font-style: italic;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
#contact, #about, #home, #signup {
    margin-left: 20px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #23689b;
    background: transparent;
}
#contact:hover, #about:hover, #home:hover, #signup:hover {
    border: 2px solid #23689b;
}
#shoppingLabel {
    margin-top: 5px;
    font-size: 3rem;
    color: #23689b;
    margin-bottom: 15px;
}
#goShopping {
    margin-top: 20px;
    background: #23689b;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#goShopping:hover {
    background: white;
    color: #23689b;
    border: 1px solid #23689b;
}
grid {
    /* border: 1px solid black; */
    margin: 3px;
    background: white;
    margin-left: 10px;
    padding: 5px;
}
#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10, #box11, #box12, #box13, #box14, #box15, #box16, #box17, #box18, #box19, #box20, #box21, #box22, #box23, #box24, #box25, #box26, #box27, #box28, #box29, #box30, #box31, #box32, #box33, #box34, #box35, #box36, #box37, #box38, #box39, #box40, #box41, #box42, #box43, #box44, #box45, #box46, #box47, #box48, #box49, #box50 {
     border: 1px solid black; 
    margin-left: 10px;
    margin: 2px;
    margin-right: 10px;
    background: white;
    padding: 10px;
} 
window {
    background: white;
} 
#hboxSearch {
    margin-left: 30px;
    margin-right: 30px;
}
#vboxContain {
    border-right: 5px solid black;
}
#textView {

}
#menuLabel {
    background: #23689b;
    color: white;
}
#leftSidevBox {
    border-right: 5px solid black;
}
#backCart {
    background: transparent;
    border: 1px solid #585858;
    color: #585858;
}
#backCart:hover {
    background: #585858;
    border: 1px solid #585858;
    color: white;
}
#paymentButton {
    background: #23689b;
    color: white;
    font-weight: 900;
}
#paymentButton:hover {
    color: red;
    background: yellow;
    font-style: italic;
}
#delId, #search {
    border-radius: 0px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #23689b;
}
#Delete {
    background: #585858;
    color: white;
    font-weight: 500;
} 
#id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8, #id9, #id10 {
    background: #23689b;
    color: white;
    margin: 0;
} 
#headerTiku {
    background: #23689b;
    padding: 20px;
    border-bottom: 1px solid black;
}
#mainSectionInfor {
    margin-right: 20px;
    padding-bottom: 10px;
}
#pictureInfor {
    margin-left: 40px;
    margin-right: 0px;
    padding-right: 0px;
}
#containerShowInfor {
    background: white;
}
#nameInforLabel, #addressLabel, #dobLabel {
    font-weight: bold;
    font-size: 1.2rem;
}
#welcomeChangeInforLabel, #nameShopLabel {
    font-size: 1.5rem;
    font-style: italic;
    color: white;
}
#backShowInforButton {
    background: transparent;
    border: 1px solid #585858;
    color: #585858;
}
#backShowInforButton:hover {
    background: #585858;
    border: 1px solid #585858;
    color: white;
}
#gridPayment {
    margin: 30px;
    border: 1px solid #585858;
    padding: 20px;
    background:white;
}
#buttonBackPayment {
    background: transparent;
    color: #585855;
    border: 1px solid #585855;
}
#buttonBackPayment:hover {
    background: #585855;
    color: white;
}
#buttonOrder {
    border: 2px solid red;
    background: salmon;
    color: black;
    font-weight: 900;
}
#buttonOrder:hover {
    color: red;
    background: yellow;
    font-style: italic;
}
#buttonCoupon:hover {
    background: #8ac4d0;
    border: 1px solid black;
}
#moneyCost, #moneyDiscount, #moneyTotal {
    font-weight: 700;
    font-style: italic;
}
#entryAddress, #entryPhone, #entryCoupon, #entryReciName {
    border: none;
    border-bottom: 2px solid #8ac4d0;
    border-radius: 0%;
}
