#alertButton {
    background:#adeecf;
    color: #295939;
    border: none;
    margin: 5px;
}
#vboxAlert {
    background: white;
}
#alertButton:hover {
    border: 1px solid #295939;
    font-weight: 200;
}